*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1, h2{
    color: white;
    font-family: 'Poppins', sans-serif;
}
#eric{
    color:#000000;
    font-size:100px;
}

#projectsfont{
    background-color: #3f3f3f;
    color: white;
    text-align: center;
    padding: 15px;
}
#projectshr{
    margin-top:30px;
    border: 5px solid rgb(0, 0, 0);">
}
#projectshrbot{
    border: 5px solid rgb(0, 0, 0);">
}
#mypicture{
    background-color: rgb(63, 63, 63);
    font-family: 'Poppins', sans-serif;
    width: 350px;
    height: 450px;
    border: 15px solid rgb(0, 0, 0);
    border-radius: 25px;
    color: white;
    margin-left: 100px;
    margin-top: 50px;
    padding: 10px;
    float: left;
  }
  #myname{
    text-align: center;
    background-color: rgb(63, 63, 63);
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    float: right;
    width: 700px;
    border: 15px solid rgb(0, 0, 0);
    border-radius: 25px;
    margin-top: 70px;
    margin-right: 250px;
    color: white;
    font-size: 40px;
  }
  i{
      color: white;
      margin: 20px;
      font-size: 60px;
  }
  #aboutme{
    
    text-align: center;
    background-color: rgb(37, 37, 37);
    padding: 40px;
    font-family: 'Poppins', sans-serif;
    width: 800px;
    height: 780px;
    border: 15px solid rgb(0, 0, 0);
    border-radius: 25px;
    color: white;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 10px;
  }
  #projectsgame{
    background-color: rgb(63, 63, 63);
    font-family: 'Poppins', sans-serif;
    width: 1000px;
    border: 15px solid rgb(0, 0, 0);
    border-radius: 25px;
    margin: auto;
    color: white;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 70px;
  }
  #projectsweb{
    background-color: rgb(63, 63, 63);
    font-family: 'Poppins', sans-serif;
    width: 1000px;
    border: 15px solid rgb(0, 0, 0);
    border-radius: 25px;
    margin: auto;
    color: white;
    text-align: center;
    margin-bottom: 50px;
  }
  #achievements{
    background-color: rgb(63, 63, 63);
    font-family: 'Poppins', sans-serif;
    width: 500px;
    border: 15px solid rgb(0, 0, 0);
    border-radius: 25px;
    margin: auto;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 50px;
  }
  #projectboxes{
    text-align: center;
    background-color: rgb(63, 63, 63);
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    width: 650px;
    height: 650px;
    border: 15px solid rgb(0, 0, 0);
    border-radius: 25px;
    color: white;
    margin: auto;
    font-size: 15px;
  }
    body {
            margin: 0;
            padding: 0;
            background: url(picture/bg.png);
            background-size: cover;
            background-position: center;
            font-family: sans-serif;
            background-repeat: no-repeat;
            background-attachment: fixed;
            
          }
          .pic{
              margin-top: 50px;
              margin-left: 30px;
          }
  nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 8vh;
      background-color: rgb(255, 255, 255);
      font-family: 'Poppins', sans-serif;
      color: rgb(0, 0, 0);
  }
  .nav-links{
      display: flex;
      background-color: rgb(255, 255, 255);
      justify-content: space-around;
      width: 30%;
      color: rgb(0, 0, 0);
  }
  .nav-links li{
      list-style: none;
  }
  .nav-links button{
    list-style: none;
}
  .nav-links a {
      color: rgb(0, 0, 0);
      text-decoration:none;
      letter-spacing: 3px;
      font-weight: bold;
      font-size: 17px;
  }
.burger{
    display: none;
    cursor: pointer;
    
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    transition: all 0.3s ease;
}
@media screen and (max-width: 1024px){
    .nav-links {
        width:60%;
    }
}
@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    #mypicture{
        margin:auto;
    }
    .logo{
        margin-left: 50%;
    }
    
    .nav-links li{
        opacity: 0;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 10vh;
        background-color: #ffffff;
        flex-direction: column;
        display:flex;
        align-items: center;
        width:50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        
    }
    .burger{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
.logo{
    margin-right: 100px;
    margin-left: -100px;
}


    ul li{
    display: inline-block;
    padding: 5px 10px;
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    position: relative;
    }
    ul li a{
    text-transform: uppercase;
    text-decoration: none;
    }
    ul li:before{
    position: absolute;
    content: "";
    width: 50px;
    height: 20px;
    border-top:5px solid #000000;
    border-left:5px solid #000000;
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0;
    }
    
    ul li:after{
    position: absolute;
    content: "";
    width: 50px;
    height: 20px;
    border-right:5px solid #000000;
    border-bottom:5px solid #000000;
    right: 0;
    bottom: 0;
    transition: 0.3s;
    opacity: 0;
    }
    
    ul li:hover:before{
    left: -10px;
    top: -10px;
    opacity:1;
    }
    ul li:hover:after{
    right: -10px;
    bottom: -10px;
    opacity:1;
    }
    ul li.scrolling{
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    opacity:1;
    }

    .dropbtn {
        display: flex;
        border: 2px solid white;
        font-family: 'Poppins', sans-serif;
        cursor: default;
        background-color: white;
        color: rgb(0, 0, 0);
        text-decoration:none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 17px;
        text-transform: uppercase;
         text-decoration: none;

      }
      .dropdown {
        position: relative;
        display: inline-block;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 160px;
        border-radius: 10px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
    
      .dropdown-content a:hover {
          background-color: rgb(255, 255, 255);
        }
      .dropdown:hover .dropdown-content {
          display: block;
        }
      
      
      .dropdown:hover .dropbtn {
          background-color: #ffffff;
        }

        .slider{
            width:600px;
            height:500px;
            border-radius: 10px;
            overflow: hidden;
          }
        
          .slides{
            width: 500%;
            height: 500px;
            display:flex;
          }
          .slides input{
            display: none;
          }
          .slide{
            width: 20%;
            transition: 1s;
          }
        
          .slide img{
            width: 600px;
            height: 500px;
          }
        
          .navigation-manual{
            position: absolute;
            width: 600px;
            margin-top: -40px;
            display: flex;
            justify-content: center;
          }
          .manual-btn{
            border: 2px solid #000000;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            transition: 1s;
          }
          .manual-btn:not(:last-child){
            margin-right: 40px;
          }
        
          .manual-btn:hover{
            background: #ffffff;
          }
          #radio1:checked ~ .first{
            margin-left:0;
          }
          #radio2:checked ~ .first{
            margin-left:-20%;
          }
          #radio3:checked ~ .first{
            margin-left:-40%;
          }
          #radio4:checked ~ .first{
            margin-left:-60%;
          }
        .navigation-auto{
          position: absolute;
          display: flex;
          width: 600px;
          justify-content: center;
          margin-top: 460px
        }
        .navigation-auto div{
          border: 2px solid white;
          padding: 5px;
          border-radius: 10px;
          transition: 1s;
        }
        .navigation-auto div:not(:last-child){
          margin-right:40px;
        }
        #radio1:checked ~ .navigation-auto .auto-btn1{
          background: #000000;
        }
        #radio2:checked ~ .navigation-auto .auto-btn2{
          background: #ffffff;
        }
        #radio3:checked ~ .navigation-auto .auto-btn3{
          background: #ffffff;
        }
        #radio4:checked ~ .navigation-auto .auto-btn4{
          background: #ffffff;
        }